
:root {
    --black: #EDF0F6;
    --white: #6995E6;
    --green: #31b328;
    --lightgreen: #8cdfc5;
    --magenta: #F05E41;
    --main: "Hedvig Letters Serif", serif;
    --heading: "Hedvig Letters", serif;
    --mono: "DM Sans", monospace;
    --italic: "Hedvig Letters", serif;
    --base-size: 1rem;
    --scale: 1.3;
    --small: calc(var(--basesize) / var(--scale));
    --h1: calc(var(--h2) * var(--scale));
    --h2: calc(var(--h3) * var(--scale));
    --h3: calc(var(--h4) * var(--scale));
    --h4: calc(var(--h5) * var(--scale));
    --h5: calc(var(--h6) * var(--scale));
    --h6: var(--base-size);

s
}

.colors {
    display: flex;
    gap: 20px;
}

.colors > * {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.magenta {
    background-color: var(--magenta)
}
footer {
    text-align: center;
    padding: 6rem;
}

.projects {
    background-color: var(--black);
    padding: 0;
    color: var(--white);
}

figure {
    display: grid;
    grid-template-rows: 1fr 100px;
}

figure a {
color: var(--white);
text-decoration: none;
grid-row: 1/3;
grid-column: 1/2;

}
figure img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

figure a:hover {
    color: var(--magenta)
}

figcaption {
    background-color: var(--black);
    opacity: 0.8;
    text-align: center;
    grid-row: 2/3;
    grid-column: 2/2;

}

figcaption h3 {
    margin-bottom: 0;
}

figcaption ul {
    margin-bottom: 0;
    padding: 0;
    margin: 0 0 2rem 0;
    font-family: var(--mono);
    text-transform: uppercase;
    font-size: var(--small);
    text-decoration: none;
}

figcaption li {
    display: inline-block;

}

.topgrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.topgrid figure:first-child {
    grid-row: span 2;
}

.topgrid h3 {
    margin-bottom: 0;
    font-size: var(--h5);
}

    @media (max-width: 992px) {
        .topgrid {
            display: block;
        }
        .topgrid figure {
            margin-bottom: 4rem;
        }
    }

    @media (max-width: 667px) {
        .topgrid figure {
            margin-bottom: 2rem;
        }
        .projects h2 {
            font-size: var(--h5);
        }
    }
header {
    max-width: 1000px;
    align-items: left;
    margin: auto;
    padding: 0rem;
    flex-direction: row;
    
}

header a:hover svg {
    fill: var(--magenta);
}

nav {
    font-family: var(--heading);
    font-weight: 600;
}


header h1 {
    font-size: var(--h1);
    font-weight: 300;
    margin: 0;
    padding: 0;


}

header h1 a { 
    color: var(--white);
    text-decoration: none;
}

header h1 a:hover { 
    color: var(--magenta);
    text-decoration: none;
}


figure {
    padding: 0px;
    margin: 0px;
}

image {
    width: 100%;
}

body, html {
    font-family: var(--main);
    font-size: var(--base-size);
    color: var(--white);
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
    background-color: var(--black);
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
    background-size: 15px 15px;

}

a {
    color: var(--magenta);
}

a.hover {
    text-decoration: none;
}

h1, h3, h4, h5, h6 {
    font-family: var(--heading);
    font-weight: 500;
}

h1 {
    font-size: var(--h1);
    margin: 0;
}


h2 {
    font-size: calc(var(--h2));
    font-weight: 500;
    font-style: italic;
}


h3 {
    font-size: var(--h3);
}


h4 {
    font-size: var(--h4);
}


h5 {
    font-size: var(--h5);
}


h6 {
    font-size: var(--h6);
}

.mono {
    font-family: var(--mono);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    flex-direction: row;
}

.leftbox {
    width: 50%;
}

.rightbox {
    width: 50%;
}

.intro {

    padding: 10rem 0 0 0;
    height: 80vh;
    text-align: left;

}

.contact {
    padding: 6rem;
    text-align: center;

}

.button {
    display: inline-block;
    color: var(--white);
    background-color: var(--magenta);
    border-radius: 5px;
    padding: 0.8rem;
    text-decoration: none;
    font-family: var(--headline);
    font-weight: 300;
    font-size: var(--small);
    line-height: 1.2;
}

@media (max-width: 830px) {
    
header {
    padding: 3rem;
    margin: 0;
}

.container {
    padding: 3rem;
    margin: 0;
}

.intro {
    padding: 0;
    margin: 0;

}
}


@media (max-width: 640px) {
   
    header {
        padding: 3rem;
        margin: 0;
    }
    
    .container {
        padding: 3rem;
        margin: 0;
    }
    
    .intro {
        padding: 0;
        margin: 0;
    
    }
}